{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Специалисты Лионского университета (Франция) решили подсчитать, сколько на свете домашних кошек.
    Оказалось, что всего их на нашей планете 400 миллионов, причем самое большое число их содержится в США. Тем не менее, пальму первенства отдают Австралии, где на каждые 10 жителей приходится 9 кошек. На азиатском континенте первое место за Индонезией, здесь более 30 миллионов пушистых мурлык, а в Европе - за Францией, жители которой имеют на своем попечении 8 миллионов кошек. Вместе с тем есть страны, например, Перу, Габон и некоторые другие, где домашняя кошка почти не встречается.
</p>

{% endblock %}
