{% extends "app/layout.html" %}
{% block content %}
{% if form != None %}
<br /><h2>Отправьте сообщение владельцам сайта</h2><br />
<div>
    <form method="post">
        {% csrf_token %}
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
        {{ form.name }} <br /><br />
        <label for="{{ form.city.id_for_label }}">{{ form.city.label }}:</label>
        {{ form.city }} <br /><br />
        <!--
        <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}:</label>
        {{ form.gender }} <br /><br />
        -->
        <label for="{{ form.job.id_for_label }}">{{ form.job.label }}:</label>
        {{ form.job }} <br /><br />
        <!--
        <label for="{{ form.internet.id_for_label }}">{{ form.internet.label }}:</label>
        {{ form.internet }} <br /><br />
        <label for="{{ form.notice.id_for_label }}">{{ form.notice.label }}:</label>
        {{ form.notice }} <br /><br />
        -->
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
        {{ form.email }} <br /><br />
        <label for="{{ form.message.id_for_label }}">{{ form.message.label }}:</label>
        {{ form.message }} <br /><br />
        <input type="submit" value="Отправить" id="button_f" />
    </form>
</div>
{% else %}
<br /><h2>Благодарим за информацию</h2>
<h3>Ваше сообщение отправлено:</h3>
<p>Отправленные данные</p>
<ul>
    <li><span>Имя</span> {{data.name}} </li>
    <li><span>Город</span> {{data.city}} </li>
    <!--
    <li><span>Пол</span> {{data.gender}} </li>
        -->
    <li><span>Работа</span> {{data.job}} </li>
    <!---->
    <li><span>В интернете</span> {{data.internet}} </li>
    <li><span>Получать новости</span> {{data.notice}} </li>
    -->
    <li><span>Е-маил</span> {{data.email}} </li>
    <li><span>Сообщение</span> {{data.message}} </li>
</ul>
{% endif %}

<script language="javascript" type="text/javascript">
    function button_f1() {
        $('#button_f').css('background-color', 'black');
        $('#button_f').css('color', 'white');
    }
    function button_f2() {
        $('#button_f').css('background-color', 'white');
        $('#button_f').css('color', 'black');
    }
    $('#button_f').mouseover(button_f1);
    $('#button_f').mouseout(button_f2);
</script>

{% endblock %}

