{% extends "app/layout.html" %}

{% block content %}

<ul>
    <li>
        <a href="https://cat.mau.ru/mun/"><img src="https://cat.mau.ru/img/mauru.png" /></a>
    </li>
    <li>
        <a href="https://habr.com/company/ruvds/"><img src="https://hsto.org/getpro/habr/company/ffa/3df/965/ffa3df965d0a214a40ca505b87d0a69e.png" /></a>
    </li>
    <li>
        <a href="https://habr.com/company/selectel/"><img src="https://hsto.org/getpro/habr/company/66a/f7d/039/66af7d03979b6d18654293d8f1e72837.png" /></a>
    </li>

</ul>

{% endblock %}
