body {
    padding-top: 120px;
    padding-bottom: 20px;
}

.errorlist {
    color: red
}
#logo {width:160px;}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ff0000;
}

    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: #00ff21;
        background-color: orangered;
        border-radius: 20%;
    }
h5 {
    color: aqua;
}

.car_text { text-decoration:bold; color:black;}
ul li { padding-top:3px; padding-bottom:3px;}